<table class="xsmall light {{#if showCumulative}}cumulative-enabled{{/if}}">
	<thead>
		<tr>
			<th class="mmmts-icon">
				&nbsp;
			</th>
			<th class="mmmts-active">
				<span class="fa fa-play"></span>
			</th>
			<th class="mmmts-paused">
				<span class="fa fa-pause"></span>
			</th>
			<th class="mmmts-speed-down">
				<span class="fa fa-cloud-download"></span>
			</th>
			<th class="mmmts-speed-up">
				<span class="fa fa-cloud-upload"></span>
			</th>
			{{#if showCumulative}}
			<th class="mmmts-total-down">
				<span class="fa fa-download"></span>
			</th>
			<th class="mmmts-total-up">
				<span class="fa fa-upload"></span>
			</th>
			{{/if}}
		</tr>
	</thead>
	<tbody>
		
	</tbody>
</table>